n8n-workflow.json
{
  "name": "Scout — atHome scraper (v2)",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "scout-search", "options": {} },
      "id": "webhook",
      "name": "Webhook (depuis l'app)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 320]
    },
    {
      "parameters": {
        "jsCode": "// Recoit { runId, criteria, ingestUrl, ingestSecret }. Construit l'URL de l'API SRP.\n// Params confirmes sur une vraie URL atHome : tr, ptypes, srf_min/max, bedrooms_min, old_build, loc.\nconst b = $json.body || $json;\nconst c = b.criteria || {};\nconst params = new URLSearchParams();\nparams.set('tr', 'buy');\nparams.set('ptypes', c.propertyType === 'house' ? 'house' : 'flat,4,43');\nif (c.surfaceMin) params.set('srf_min', String(c.surfaceMin));\nif (c.surfaceMax) params.set('srf_max', String(c.surfaceMax));\nif (c.priceMin) params.set('price_min', String(c.priceMin));\nif (c.priceMax) params.set('price_max', String(c.priceMax));\nif (c.bedroomsMin) params.set('bedrooms_min', String(c.bedroomsMin));\nparams.set('old_build', 'true');\nif (c.loc) params.set('loc', c.loc);\nparams.set('page', '1');\nconst url = 'https://www.athome.lu/srp/?' + params.toString();\nreturn [{ json: { runId: b.runId, ingestUrl: b.ingestUrl, ingestSecret: b.ingestSecret, criteria: c, searchUrl: url } }];"
      },
      "id": "buildurl",
      "name": "Construit l'URL SRP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 320]
    },
    {
      "parameters": {
        "url": "={{ $json.searchUrl }}",
        "options": { "response": { "response": { "responseFormat": "text" } } },
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "User-Agent", "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0 Safari/537.36" },
          { "name": "Accept-Language", "value": "fr-FR,fr;q=0.9" },
          { "name": "Accept", "value": "text/html,application/xhtml+xml" }
        ] }
      },
      "id": "getlist",
      "name": "GET liste SRP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 320]
    },
    {
      "parameters": {
        "jsCode": "// PARSE + FILTRE LISTE — teste sur de vraies donnees atHome (12/12 extraites).\nconst ctx = $('Construit l\\'URL SRP').first().json;\nconst c = ctx.criteria || {};\nconst html = $json.data || $json.body || '';\nfunction extractState(html) {\n  const mi = html.indexOf('window.__INITIAL_STATE__');\n  if (mi === -1) throw new Error('INITIAL_STATE introuvable (page bloquee ?)');\n  let i = html.indexOf('=', mi) + 1; while (/\\s/.test(html[i])) i++;\n  const s = i; let depth = 0, inStr = false, esc = false;\n  for (; i < html.length; i++) { const ch = html[i];\n    if (esc) { esc = false; continue; } if (ch === '\\\\') { esc = true; continue; }\n    if (ch === '\"') { inStr = !inStr; continue; } if (inStr) continue;\n    if (ch === '{') depth++; else if (ch === '}') { depth--; if (depth === 0) { i++; break; } } }\n  return JSON.parse(html.slice(s, i).replace(/:\\s*undefined/g, ': null'));\n}\nconst state = extractState(html);\nconst list = (state.search && state.search.list) || [];\nconst listings = (state.search && state.search.listings) || [];\nconst permById = {}; for (const x of listings) permById[x.id] = x.permalink && x.permalink.fr;\nconst kw = (c.keywords || []).map(k => k.toLowerCase());\nconst out = [];\nfor (const a of list) {\n  if (a.isSoldProperty) continue;\n  if (a.isNewBuild) continue;\n  const desc = (a.description || '').toLowerCase();\n  if (kw.length && !kw.some(k => desc.includes(k))) continue;\n  out.push({ runId: ctx.runId, ingestUrl: ctx.ingestUrl, ingestSecret: ctx.ingestSecret,\n    cpeClasses: c.cpeClasses || [], id: String(a.id), price: a.price, surface: a.propertySurface,\n    commune: (a.geo && a.geo.cityName) || '', rooms: a.bedroomsCount, title: (a.title || '').toString(),\n    url: 'https://www.athome.lu' + (permById[a.id] || ('/vente/appartement/luxembourg/id-' + a.id + '.html')) });\n}\nreturn out.map(json => ({ json }));"
      },
      "id": "parselist",
      "name": "Parse + filtre liste",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 320]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": { "response": { "response": { "responseFormat": "text" } } },
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "User-Agent", "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0 Safari/537.36" },
          { "name": "Accept-Language", "value": "fr-FR,fr;q=0.9" }
        ] }
      },
      "id": "getdetail",
      "name": "GET fiche detail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 320]
    },
    {
      "parameters": {
        "jsCode": "// EXTRAIT CPE depuis la fiche detail + filtre cpeClasses. Regex testee sur le vrai rendu atHome.\nconst meta = $('Parse + filtre liste').item.json;\nconst html = $json.data || $json.body || '';\nconst norm = html.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ');\nconst m = norm.match(/Classe\\s+[\\u00e9e]nerg[\\u00e9e]?tique[^A-Za-z]{0,40}?([A-I])\\b/i);\nconst cpe = m ? m[1].toUpperCase() : null;\nconst classes = meta.cpeClasses || [];\nconst keep = !classes.length || (cpe && classes.includes(cpe));\nreturn [{ json: { ...meta, cpe, _keep: keep } }];"
      },
      "id": "extractcpe",
      "name": "Extrait CPE + filtre",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 320]
    },
    {
      "parameters": {
        "jsCode": "// AGREGE les biens retenus en un seul payload pour l'app.\nconst all = $input.all().map(i => i.json).filter(x => x._keep);\nconst first = $('Construit l\\'URL SRP').first().json;\nconst listings = all.map(({ runId, ingestUrl, ingestSecret, cpeClasses, _keep, ...rest }) => rest);\nreturn [{ json: { ingestUrl: first.ingestUrl, runId: first.runId, ingestSecret: first.ingestSecret, listings } }];"
      },
      "id": "aggregate",
      "name": "Agrege resultats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.ingestUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ runId: $json.runId, secret: $json.ingestSecret, listings: $json.listings }) }}",
        "options": {}
      },
      "id": "ingest",
      "name": "POST resultats vers l'app",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 320]
    }
  ],
  "connections": {
    "Webhook (depuis l'app)": { "main": [[{ "node": "Construit l'URL SRP", "type": "main", "index": 0 }]] },
    "Construit l'URL SRP": { "main": [[{ "node": "GET liste SRP", "type": "main", "index": 0 }]] },
    "GET liste SRP": { "main": [[{ "node": "Parse + filtre liste", "type": "main", "index": 0 }]] },
    "Parse + filtre liste": { "main": [[{ "node": "GET fiche detail", "type": "main", "index": 0 }]] },
    "GET fiche detail": { "main": [[{ "node": "Extrait CPE + filtre", "type": "main", "index": 0 }]] },
    "Extrait CPE + filtre": { "main": [[{ "node": "Agrege resultats", "type": "main", "index": 0 }]] },
    "Agrege resultats": { "main": [[{ "node": "POST resultats vers l'app", "type": "main", "index": 0 }]] }
  },
  "settings": {}
}
